<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.jboss.org/dtd/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>		
		<property name="hibernate.connection.driver_class">
			com.mysql.cj.jdbc.Driver
		</property>		
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/yournews?useTimezone=true&amp;serverTimezone=UTC
		</property>
		<property name="hibernate.connection.username">
			root
		</property>
		
		<property name="hibernate.connection.password">
			root
		</property>
		<property name="connection.pool_size">1</property>
    	<property name="current_session_context_class">thread</property>
		
		
		<mapping class="by.htp.springmvc.Entity.User"/>
		
	</session-factory>	
</hibernate-configuration>